.form-control {
    height: 3rem;
    // background-color: $colorBlack;
    color: $colorWhite;
    transition: $transition_1;
    border-radius: $radius_2;
    border-color: $colorPrimary;

    &:focus {
        box-shadow: $shadow_1;
        border-color: $colorBgGray;
    }

    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}
