.mainContent {
    .sectionTitle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.5rem;

        .title {
            font-size: 2rem;
            font-weight: 500;
            color: $colorPrimary;
            font-family: $fontBebasNeue;
            margin-bottom: 0;
        }

        .link {
            text-decoration: none;
            color: $colorBlack;
            transition: $transition_1;

            .icon {
                margin-left: 0.5rem;
            }

            &:hover {
                color: $colorPrimary;
            }
        }
    }
}

.userPage {
    .row {
        .profileComments {
            .commentTitle {
                padding: 1rem;
                background-color: $colorBgGray;
                border-top-left-radius: $radius_2;
                border-top-right-radius: $radius_2;
                font-size: 1rem;
            }

            .comments {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }
    }
}
