.discussionDetails {
    .title {
        color: $colorPrimary;
        margin-bottom: 1rem;
    }

    .form-floating {
        .commentsBox {
            border: none;
            box-shadow: $shadow_1;
            min-height: 10rem;
            transition: $transition_1;

            &:focus {
                box-shadow: $shadow_2;
            }
        }

        label {
            color: $colorBgGray;
        }

        .btnSend {
            width: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            float: right;
            position: relative;
            top: -75px;
            right: 15px;
            padding: 0.5rem 1.5rem;
        }
    }
}
