.auth {
    .container {
        .row {
            .row {
                .authBannerWrap {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .banner {}
                }

                .authFormWrap {
                    .logo {}

                    .logInTitle {
                        font-family: $fontBebasNeue;
                        font-size: 2rem;
                    }

                    .nav-link {
                        color: $colorPrimary;
                        font-weight: 600;
                        transition: $transition;

                        &:hover {
                            color: $colorBlack;
                        }
                    }
                }
            }

            .authFooter {
                color: $colorPrimary;
            }
        }
    }
}