.topBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: $border_1;
    padding: 1rem;
    background-color: $colorWhite;

    .topBarLogo {
        display: flex;
        align-items: center;
        justify-content: space-between;

        // NavToogler
        .navbar-toggler {
            display: flex;
            align-items: center;
            margin-right: 1.5rem;

            svg {
                font-size: 1.5rem;
            }
        }

        .logo {
            max-width: 15rem;
        }

        // PageLabel
        .btnPrimaryOutline {
            margin-left: 2rem;
            color: $colorPrimary;
            border: none;
            box-shadow: $shadow_1;
            align-items: center;
            cursor: text;
        }

        .backBtn {
            color: $colorPrimary;

            &:hover {
                color: $colorBlack;
            }
        }
    }

    // Notification
    .btnNotification {
        color: $colorPrimary;
        height: 3rem;
        width: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 1.5rem;
        box-shadow: $shadow_1;
        transition: $transition_1;

        .notificationCount {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.75rem;
            background-color: $colorPrimary;
            left: 80%;
        }

        &:active {
            border-color: $colorWhite;
            color: $colorBlack;
        }
        &:hover {
            color: $colorBlack;
            box-shadow: $shadow_2;
        }
    }
}
