
// Theme Variables
:root{

    // Theme Color
    --primary_color: #F47C7C;
    --secondary_color: #FFF2F2;
    --white_color: #FFFFFF;
    --dark_color: #524a4eb0;
    --dark_secondary_color: #4e45459c;

    // Component Color
    --border_color: #bcb3b330;
    --bg_opacity_color: #070505c4;
    --warning_color: #ffa500;

}
