.gallery{
    .container{
        
        .row{
            .col{
                .place-item{
                    .card{
                        background-color: var(--secondary_color);
                        
                        .card-body{
                            .address{
                                color: var(--dark_secondary_color);

                                .card-title{
                                    margin-bottom: 0;
                                    padding-left: 0.375rem;
                                    font-size: 0.875rem;
                                }
                            }
                        }
                    }
                }
                // End Place Item
            }
        }
        // End Row
    }
    // End Container
}