// Fonts
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;500;600;700;800&display=swap');

// Variables
@import './variables.scss';

html {
    body {
        font-size: 0.875rem;
        font-family: $fontPoppins;
        font-weight: 400;

        .btn {
            &:active,
            &:hover {
                border-color: $colorPrimary !important;
            }
        }

        .text-primary {
            color: $colorPrimary !important;
        }

        // ----------- Components ------------ //
        // Frontend
        @import '../components/Frontend/Header/header.scss';
        @import '../components/Frontend/Banner/banner.scss';
        @import '../components/Frontend/Feature/feature.scss';
        @import '../components/Frontend/Package/package.scss';
        @import '../components/Frontend/Gallery/gallery.scss';
        @import '../components/Frontend/Review/review.scss';
        @import '../components/Frontend/Contact/contact.scss';
        @import '../components/Frontend/Footer//footer.scss';
        // Input
        @import '../components/Input/input.scss';
        @import '../components/Input/button.scss';
        // TopBar
        @import '../components//TopBar//topBar.scss';
        // User Profile
        @import '../components//UserProfile/userProfile.scss';
        // Sidebar
        @import '../components//Sidebar//sideBar.scss';
        // UI Card
        @import '../components/Card/card.scss';
        // Select
        @import '../components/Select/select.scss';
        // Comments
        @import '../components/Comments/comments.scss';
        // Footer
        @import '../components/Footer/footer.scss';

        // ----------- Pages ------------ //
        // Auth
        @import '../app/auth/auth.scss';
        //mainContent
        @import '../app/user/mainContent.scss';
        // Discussion Details
        @import '../app//user/discussions/details/discussionDetails.scss';
    }
}
