// Color
$colorPrimary: #b0915a;
$colorPrimaryGradient1: linear-gradient(90deg, rgba(176, 145, 90, 1) 0%, rgba(179, 121, 18, 1) 100%);
$colorPrimaryGradient2: linear-gradient(90deg, rgba(179, 121, 18, 1) 0%, rgba(176, 145, 90, 1) 100%);
$colorBlack: #0f0f0f;
$colorWhite: #ffffff;

// Fonts
$fontPoppins: 'Poppins';
$fontSanSerif: 'sans-serif';
$fontBebasNeue: 'Bebas Neue';

// Radius
$radius_1: 0.5rem;

// Transition
$transition: all 0.4s ease;
